@model DieticianApp.Models.ViewModel.AdminFunctions.AddIngredientsViewModel

<div class="container">
    <div class="row py-5">
        <div class="col-xl-10">
            <div class="bg-light rounded mb-4">
                <div class="row g-2">
                    <div class="col">
                        <form>
                            <select class="form-select">
                                <option>Sort</option>
                                <option>Descading</option>
                                <option>Asceding</option>
                            </select>
                        </form>
                    </div>
                    <div class="col">
                        <form>
                            <div class="input-group overflow-hidden">
                                <input type="text" class="form-control" placeholder="Search ....">
                                <span class="input-group-text auth-input"><a href=""><i class="fa-solid fa-magnifying-glass"></a></i></span>
                            </div>
                        </form>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalIngredient">
                            Add new Ingredient
                        </button>

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="modal fade" id="modalIngredient" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="staticBackdropLabel">Add new Ingredient</h3>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form asp-controller="AdminFunctions" asp-action="AddIngredient" method="post">
                                        <div class="modal-body">
                                            <label class="form-label">Ingredient name: </label>
                                            <input class="form-control" asp-for="Ingredient_Name" value="" placeholder="ex: carrot" />
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="form-label">Calorie: </label>
                                                    <input class="form-control" asp-for="Calorie" type="number" min="0" value="" placeholder="ex: 5"/>
                                                </div>
                                                <div class="col-6">
                                                    <label class="form-label">Protein: </label>
                                                    <input class="form-control" asp-for="Protein" type="number" min="0" value="" placeholder="ex: 5" />
                                                </div>
                                                <div class="col-6">
                                                    <label class="form-label">Fat: </label>
                                                    <input class="form-control" asp-for="Fat" type="number" min="0" value="" placeholder="ex: 5" />
                                                </div>
                                                <div class="col-6">
                                                    <label class="form-label">Carbohydrate: </label>
                                                    <input class="form-control" asp-for="Carbohydrate" type="number" min="0" value="" placeholder="ex: 5" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer justify-content-center">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" id="addIngredient">Add</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <span asp-validation-for="Ingredient_Name" class="text-danger"></span>
                    <span asp-validation-for="Calorie" class="text-danger"></span>
                    <span asp-validation-for="Protein" class="text-danger"></span>
                    <span asp-validation-for="Fat" class="text-danger"></span>
                    <span asp-validation-for="Carbohydrate" class="text-danger"></span>

                </div>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Ingredient name</th>
                        <th scope="col">Calorie</th>
                        <th scope="col">Protein</th>
                        <th scope="col">Fat</th>
                        <th scope="col">Carbohydrate</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @if (Model.Ingredient != null && Model.Ingredient.Any())
                    {
                        foreach (var ingredient in Model.Ingredient)
                        {
                            <tr>
                                <td>@ingredient.Ingredient_Name</td>
                                <td>@ingredient.Calorie</td>
                                <td>@ingredient.Protein</td>
                                <td>@ingredient.Fat</td>
                                <td>@ingredient.Carbohydrate</td>
                                <td>
                                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDelete-@ingredient.Ingredient_Id">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                    <button class="btn btn-success" type="submit" data-bs-toggle="modal" data-bs-target="#modalEdit-@ingredient.Ingredient_Id">
                                        <i class="fa-solid fa-pen"></i>
                                    </button>
                                    <div class="modal fade" id="modalDelete-@ingredient.Ingredient_Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Ingredient</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure to delete <b>@ingredient.Ingredient_Name</b>?
                                                </div>
                                                <form asp-controller="AdminFunctions" asp-action="DeleteIngredient" method="post" asp-route-id="@ingredient.Ingredient_Id">
                                                    <div class="modal-footer justify-content-center">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-danger" id="DeleteIngredient">Delete</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="modalEdit-@ingredient.Ingredient_Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h3 class="modal-title" id="staticBackdropLabel">Edit allergy</h3>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <form asp-controller="AdminFunctions" asp-action="EditIngredient" method="post" asp-route-id="@ingredient.Ingredient_Id">
                                                    <div class="modal-body">
                                                        <label class="form-label">Ingredient name: </label>
                                                        <input class="form-control mb-2" asp-for="Ingredient_Name" placeholder="@ingredient.Ingredient_Name" />

                                                        <div class="row">
                                                            <div class="col-6 mb-2">
                                                                <label class="form-label">Calorie: </label>
                                                                <input class="form-control" asp-for="Calorie" type="number" min="0" value="@ingredient.Calorie"/>
                                                            </div>
                                                            <div class="col-6 mb-2">
                                                                <label class="form-label">Protein: </label>
                                                                <input class="form-control" asp-for="Protein" type="number" min="0" value="@ingredient.Protein" />
                                                            </div>
                                                            <div class="col-6">
                                                                <label class="form-label">Fat: </label>
                                                                <input class="form-control" asp-for="Fat" type="number" min="0" value="@ingredient.Fat" />
                                                            </div>
                                                            <div class="col-6">
                                                                <label class="form-label">Carbohydrate: </label>
                                                                <input class="form-control" asp-for="Carbohydrate" type="number" min="0" value="@ingredient.Carbohydrate" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer justify-content-center">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-success" id="SaveNewAllergy">Save</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" class="fw-bold fs-4">No Ingredients found.</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            var deleteToastEl = document.getElementById('deleteToast');
            var addToastEl = document.getElementById('addToast');
            var editToastEl = document.getElementById('editToast');

            if (deleteToastEl && @Html.Raw(Json.Serialize(TempData["MessageDelete"] != null))) {
                var deleteToast = new bootstrap.Toast(deleteToastEl);
                deleteToast.show();
            }

            if (addToastEl && (@Html.Raw(Json.Serialize(TempData["MessageAdded"] != null)) || @Html.Raw(Json.Serialize(TempData["MessageUsed"] != null)))) {
                var addToast = new bootstrap.Toast(addToastEl);
                addToast.show();
            }

            if (editToastEl && @Html.Raw(Json.Serialize(TempData["MessageUpdated"] != null))) {
                var editToast = new bootstrap.Toast(editToastEl);
                editToast.show();
            }
        });
    </script>
}


<div class="toast position-fixed bottom-0 end-0 p-3 text-bg-danger m-3 fs-6" role="alert" aria-live="assertive" aria-atomic="true" id="deleteToast">
    <div class="d-flex">
        <div class="toast-body">
            <i class="fa-solid fa-trash"></i>
            @if (TempData["MessageDelete"] != null)
            {
                @TempData["MessageDelete"]
            }
        </div>
        <button type="button" class="btn-close me-2 m-auto btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>

<div class="toast position-fixed bottom-0 end-0 p-3 m-3 fs-6 @((TempData["MessageUsed"] != null) ? "text-bg-warning" : "text-bg-success")" role="alert" aria-live="assertive" aria-atomic="true" id="addToast">
    <div class="d-flex">
        <div class="toast-body">
            @if (TempData["MessageAdded"] != null)
            {
                <i class="fa-solid fa-check"></i>
                @TempData["MessageAdded"]
            }
            @if (TempData["MessageUsed"] != null)
            {
                <i class="fa-solid fa-triangle-exclamation"></i>
                @TempData["MessageUsed"]
            }
        </div>
        <button type="button" class="btn-close me-2 m-auto @((TempData["MessageUsed"] != null) ? "btn-close" : "btn-close-white")" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>

<div class="toast position-fixed bottom-0 end-0 p-3 text-bg-info m-3 fs-6" role="alert" aria-live="assertive" aria-atomic="true" id="editToast">
    <div class="d-flex">
        <div class="toast-body">
            <i class="fa-solid fa-pencil-alt"></i>
            @if (TempData["MessageUpdated"] != null)
            {
                @TempData["MessageUpdated"]
            }
        </div>
        <button type="button" class="btn-close me-2 m-auto btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>


